header {
  .background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .header-top {
      top: 70%;
      .img-profile {
        border: 5px solid white;
      }
      .change-photo-icon {
        right: 10%;
      }
      .info-profile {
        padding: 9px 21px;
        border-radius: 5px;
        height: 78px;
        width: 388px;
        background-color: rgba(255, 255, 255, 0.7);
      }
      .change-background {
        background-color: rgb(11, 11, 11, 0.5);
        .icon {
          color: rgb(186, 185, 185);
        }
      }
      .file-input {
        width: 45px;
        height: 50px;
        opacity: 0;
      }
    }
  }
  .header-bottom {
    height: 146px;
  }
}
@media all and (max-width: 992px) {
  .change-photo-icon, .change-background {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
  }
  .info-container {
    display: flex;
  }
  .info-profile {
    width: 306px !important;
  }
  .btn-edit-profile {
    justify-content: start !important;
    margin-top: 20px;
  }
  .header-bottom {
    height: 235px !important;
  }
  @media all and (max-width: 768px) {
    .info-container {
      flex-wrap: wrap-reverse;
      position: absolute;
      top: -33px;
    }
    .info-profile {
      width: auto !important;
    }
    .change-background-container {
      justify-content: end;
      width: 100%;
      margin-right: 10%;
    }
  }
}
